.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.elevatorContainer {
}

.singleFloorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.upDownButtons {
  position: absolute;
  left: 35px;
}

.upDownButtons p {
  margin: 5px 0;
  cursor: pointer;
}

.singleFloor {
  margin-left: 100px !important;
  border-radius: 10px;
  margin: 8px 0;
  background-color: #34495e;
  padding: 30px 35px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.current {
  background-color: green !important;
}
